

.tablesBigDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}


.tablesBigDiv h1{
    margin: 3px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}



.tablesBigDiv h4{
    margin: 3px;
    font-size: 15px;
    font-weight: 300;
}



















































