.headerBigDiv{
    background-image: url(../../img/header/Background.png);
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

}

.timeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    bottom: 200px;
    color: white;
}

.hidenBtnScroll{
    opacity: 0;
}



.timeH1{
    font-family: 'MontserratARM',Arial,sans-serif;
    text-align: center;
    color:white;
    font-size: 45px;
    margin: 10px;

}


.timeH3{
    font-family: 'MontserratARM',Arial,sans-serif;
    color:white;
    font-size: 25px;
    margin: 10px;

}


.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 70px;
}

.time li{
    margin: 10px;
    color: white;
    text-align: center;
    list-style: none;
}


.line{
    width: 1px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.5);

}

.time h1{
    width: 70px;

}



.time h3{
    font-size: 20px;
}


@media screen and (max-width: 750px) {
    
    .headerBigDiv{
        background-image: url(../../img/header/minBack.png);
    
    }

}



@media screen and (max-width: 500px) {
    
    .time{
        font-size: 12px;
    }

    .time h1{
        width: 50px;

    }
    .time h3{
        font-size: 10px;
    }
    .time li{
        margin: 5px;
    }
}

@media screen and (max-width: 400px) {
    
    .timeH1{
        font-size: 28px;
    }
    .timeH3{
        font-size: 15px;
    }
}







